@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;700&display=swap");

body {
  background: #3f684c;
  margin: 0;
  
  font-family: "Roboto Mono";
}

.navbar {

  background: rgb(226, 229, 223);
  padding: 1em;
  position: relative;

}


.logosvg {
  width: 200px;
  height: 200px;
  position: absolute;
  display: inline-block;
  bottom: 0;
    left: 0;
   

}

.logosvg svg {
  width: 100%;
  height: 100%;
  
}



  .invert {
    display: inline-block;
    animation-name: flip-upside-down;
    animation-duration: 2.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    transform-style: preserve-3d;
  }

  @keyframes flip-upside-down {
    0% {
      transform: rotateX(0deg);
    }
    100% {
      transform: rotateX(180deg);
    }
  }
  

  
  




.navbar nav {
  display: none;
  z-index: 99;
  width: 30%;
  right: 0;
  top: 0;
  background: rgb(99, 103, 92);
  height: 55vh;
  padding: 1em;
}

.navbar nav ul.primary-nav {
  margin-top: 5em;
}

.navbar nav li a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  display: block;
  padding: 0em;
  font-size: 1.3em;
  text-align: right;
}

.navbar nav li a:hover {
  font-weight: bolder;
}

.navbar .container {
  display: flex;
  place-content: space-between;
}

.navbar .mobile-menu {
  cursor: pointer;
  width: 20px;
}

a {
  color: rgb(0, 0, 0);
}

ul {
  list-style-type: none;
  margin: -9px;
  padding: 0.1em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(19em, 1fr));
  align-content: space-between;
  justify-content: end;
  justify-items: end;
}




.logosvg{
  width: 200px;
  left: 00px;
}




#plant{
  width: 100px;
  height: 100px;
  animation: colorChange 3s infinite;
}

#coffee {
  width: 100px;
  height: 100px;
  background-color: blue;
}

#lamp {
  width: 100px;
  height: 100px;
}




#shoes {
  width: 100px;
  height: 100px;
  animation: logoAnimation 5s ease-in-out infinite;;
}










@keyframes logoAnimation {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  25% {
    transform: translateY(2px) rotate(-1deg);
  }
  50% {
    transform: translateY(3px) rotate(0deg);
  }
  75% {
    transform: translateY(2px) rotate(-1deg);
  }
  100% {
    transform: translateY(0px) rotate(0deg);
  }
}





section {
  padding: 0.1em;
  margin: 0.1em;

}

.hero {
  display: block;
  text-align: center;
}

.left-col {
  display: flex;
  justify-content: space-around;
  align-items: left;

  color: rgb(43, 40, 40);
  letter-spacing: 0.3em;
}


.subhead {
  text-align: right;
}
p {
  align-items: flex-end;
}

h2 {
  font-size: 2.5em;
  line-height: 1.3em;
  margin-top: 0.2em;
}

.custom-class {
  padding: 100px;
}

.container {
  display: flex;
  align-items: center;
  padding-left: 2em; 
  gap: 2em;
}


.primary-cta  {
  background: rgb(243, 247, 243);
  color: rgb(0, 0, 0);
  padding: 0.6em 1.3em 0.6em;
  font-size: 1.1em;
  border-radius: 5em;
  font-weight: 700;
  display: inline-block;
  
}





.icone-cv {
  width: 2em;
  height: 2em;
  margin-right: 0.5em;
  margin-left: 1em;
}



  .balococute {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
      height: 100%;
    }
    
    
 
    
    #swingpart {
      position: absolute;
      right: 0;
      top: 0%;
      transform-origin: 50% 100%;
      animation: swing 3s ease-in-out infinite;
      
    }
    
    #swing {
      position: absolute;
      right: 0;
      top: 0%;
      transform-origin: 50% 100%;
      animation: swing 3s ease-in-out infinite;
      
    }


    #leaf {
      animation-name: leafAnimation;
      animation-duration: 3s;
      animation-fill-mode: forwards; 
      animation-iteration-count: infinite;
    }

    #leaf1 {

      animation-name: leafAnimation1;
      animation-duration: 3.3s;
      animation-fill-mode: forwards; 
      animation-iteration-count: infinite;

    }



    #leaf2 {

      animation-name: leafAnimation1;
      animation-duration: 3.8s;
      animation-fill-mode: forwards; 
      animation-iteration-count: infinite;

    }

    #leaf3 {

      animation-name: leafAnimation1;
      animation-duration: 3.8s;
      animation-fill-mode: forwards; 
      animation-iteration-count: infinite;

    }



    #circle {
      animation-name: blurFadeAnimation;
      animation-duration: 4s;
      animation-fill-mode: forwards;
      animation-iteration-count: infinite;
    }

    #circle_2{

      animation-name: blurFadeAnimation;
      animation-duration: 4s;
      animation-fill-mode: forwards;
      animation-iteration-count: infinite;
    }


    @keyframes blurFadeAnimation {
      0% {
        opacity: 0;
        filter: blur(10px);
        transform: translateY(0);
      }
      50% {
        opacity: 1;
        filter: blur(0);
        transform: translateY(100px);
      }
      100% {
        opacity: 0;
        filter: blur(10px);
        transform: translateY(0);
      }
    }




    @keyframes leafAnimation1 {
      0% {
        opacity: 0; 
       

      }
      50% {
        opacity: 1.5;
        
      }
      100% {
        opacity: 0; 
        
      }
    }


    @keyframes leafAnimation {
      0% {
        opacity: 0; 
       
      }
      50% {
        opacity: 1;
        
      }
      100% {
        opacity: 0; 
        
      }
    }
    
    @keyframes swing {
      0% {
        transform: rotate(10deg);
      }
    
      50% {
        transform: rotate(-10deg);
      }
    
      100% {
        transform: rotate(10deg);
      }
    }

.skills-section {
  background: rgb(172, 178, 174);
  color: #3f684c;
  display: flex;
  margin-bottom: 2em;
}

 .icon {
  width: 10em;
}
.icon path {
  fill: #000000;
  stroke: 10;
  stroke: #000000 ;
  
}

.icon.java path {
  stroke-dasharray: 100;
  stroke-dashoffset: 0;
  fill: transparent;
}

.icon.java:hover path {
  animation: animate-java 2s linear forwards;
}

.icon.java:not(:hover) path {
  
  stroke-dashoffset: 100; 
  fill: #000000; 
}
@keyframes animate-java {
  0% 
  {
    stroke-dashoffset: 0;
    fill: transparent;
  }
  40%
  {
    stroke-dashoffset: 100;
    fill: transparent;
  }
  80% 
  {
    stroke-dashoffset: 200;
    fill: transparent;
  }
  100%
  {
    stroke-dashoffset: 300;
    fill: #000000;
  }
}



.icon.js path {
  stroke-dasharray: 100;
  stroke-dashoffset: 0;
  fill: transparent;
}

.icon.js:hover path {
  animation: animate-js 2s linear forwards;
}

.icon.js:not(:hover) path {
  
  stroke-dashoffset: 100; 
  fill: #000000; 
}
@keyframes animate-js {
  0% 
  {
    stroke-dashoffset: 0;
    fill: transparent;
  }
  40%
  {
    stroke-dashoffset: 150;
    fill: transparent;
  }
  80% 
  {
    stroke-dashoffset: 250;
    fill: transparent;
  }
  100%
  {
    stroke-dashoffset: 300;
    fill: #000000;
  }
}



.icon.html path {
  
  stroke-dasharray: 150;
  stroke-dashoffset: 0;
  fill: transparent;
  animation-fill-mode: forwards;
}

.icon.html:hover path {
  animation: animate-html 1.2s linear forwards;
}

.icon.html:not(:hover) path {
  
  stroke-dashoffset: 700; 
  fill: #000000; 
}


@keyframes animate-html {
  0% 
  {
    stroke-dashoffset: 0;
    fill: transparent;
  }
  40%
  {
    stroke-dashoffset: 250;
    fill: transparent;
  }
  80% 
  {
    stroke-dashoffset: 450;
    fill: transparent;
  }
  100%
  {
    stroke-dashoffset: 650;
    fill: #000000;
  }
}

.icon.css path {
  stroke-dasharray: 100;
  stroke-dashoffset: 0;
  fill: transparent;
}

.icon.css:hover path {
  animation: animate-css 1.2s linear forwards;
}

.icon.css:not(:hover) path {
  
  stroke-dashoffset: 700; 
  fill: #000000; 
}
@keyframes animate-css {
  0% 
  {
    stroke-dashoffset: 0;
    fill: transparent;
  }
  40%
  {
    stroke-dashoffset: 250;
    fill: transparent;
  }
  80% 
  {
    stroke-dashoffset: 450;
    fill: transparent;
  }
  100%
  {
    stroke-dashoffset: 650;
    fill: #000000;
  }
}

.icon.sql path {
  stroke-dasharray: 100;
  stroke-dashoffset: 0;
  fill: transparent;
}

.icon.sql:hover path {
  animation: animate-sql 1.5s linear forwards;
}

.icon.sql:not(:hover) path {
  
  stroke-dashoffset: 800; 
  fill: #000000; 
}
@keyframes animate-sql {
  0% 
  {
    stroke-dashoffset: 0;
    fill: transparent;
  }
  40%
  {
    stroke-dashoffset: 250;
    fill: transparent;
  }
  80% 
  {
    stroke-dashoffset: 450;
    fill: transparent;
  }
  100%
  {
    stroke-dashoffset: 650;
    fill: #000000;
  }
}

.icon.git path {
  stroke-dasharray: 100;
  stroke-dashoffset: 0;
  fill: transparent;
}

.icon.git:hover path {
  animation: animate-git 2s linear forwards;
}

.icon.git:not(:hover) path {
  
  stroke-dashoffset: 100; 
  fill: #000000; 
}
@keyframes animate-git {
  0% 
  {
    stroke-dashoffset: 0;
    fill: transparent;
  }
  40%
  {
    stroke-dashoffset: 100;
    fill: transparent;
  }
  80% 
  {
    stroke-dashoffset: 200;
    fill: transparent;
  }
  100%
  {
    stroke-dashoffset: 300;
    fill: #000000;
  }
}

ul {
  margin: 0;
  padding-left: 0.1em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(19em, 1fr));
  align-content: end;
  justify-content: end;
  justify-items: end;
}

ul li {
  font-size: 1.1em;
  margin-bottom: 1em;
  margin-left: 2em;
  position: relative;
}

ul li::before {
  content: "";
  position: absolute;
}


.subtext {
  font-size: 1.0em;
  font-weight: 50em;


}


.project-img {

  margin-top: 1em;
  width: 100%;
  max-width: 30em;
  border-radius: 10px;

}

.container-altern {
  padding: 2.5em;
  text-align: left;
}

h2 {
  font-size: 2em;
}

.projects-container {
  display: flex;
  justify-content: space-around;
  gap: 2.5em;
  padding: 2.5em;
  text-align: left;
}

.project-card {
  width: 80%;
  margin-bottom: 2em;
  box-shadow: 5px 5px 20px black;
}

hr {
  margin-left: 20px;
  margin-right: 20px;
}

.button-container {
  text-align: center;
}

.button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  background-color: #9e4dce;
}

.icon-projects{
  display: flex;
  align-items: center;
  margin-bottom: 0em;
  flex-wrap: nowrap;
  justify-content: center;
}





.contact-section {
  background: rgb(172, 178, 174);
  color: #3f684c;
}



.label {
  display: block;
  font-size: 1.2em;
  margin-bottom: 0.5em;
}

input,
textarea {
  width: 100%;
  padding: 0.8em;
  margin-bottom: 1em;
  border-radius: 0.3em;
  border: 1px solid gray;
  box-sizing: border-box;
}

input[type=submit] {
  background-color: #aabeb0;
  color: white;
  font-weight: 700;
  font-size: 1.3em;
  border: none;
  margin-bottom: 5em;
  border-radius: 5em;
  display: inline-block;
  padding: 0.8em 2em;
  width: unset;
  cursor: pointer;
}



.mobile-menu-exit {
  float: right;
  margin: 0.1em;
  cursor: pointer;
}

.menu-open {
  display: block !important;
}

.container-skills {
  position: relative;
  width: 30em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0em;


}

.icon {
  width: 50px;
  height: 50px;
}













@media only screen and (min-width: 768px) {

  .mobile-menu,
  .mobile-menu-exit {
    display: none;
  }

  .navbar .container {
    display: grid;
    grid-template-columns: 180px auto;
    justify-content: unset;
  }

  .navbar nav {
    display: flex;
    justify-content: space-between;
    background: none;
    position: unset;
    height: auto;
    width: 100%;
    padding: 0;
  }

  .navbar nav ul {
    display: flex;
    font-size: 1em;
    padding: 0.1em;
  }

  .navbar nav a {
  
    font-size: 1em;
    padding: 0.1em 1em;
  }

  .navbar nav ul.primary-nav {
    margin: 3em;
  }

  .navbar nav li.current a {
    font-weight: bold;
  }

  .navbar nav li.current-contact a {
    color: #3f684c;
    border: 3px #3f684c;
    font-weight: bold;
    border-radius: 5em;
    margin-bottom: -0.2em;
  }

  .navbar nav li.current-contact a:hover {
    background: #3f684c;
    color: #10b241;
  }


  .projects-container {
    flex-direction: column;
    align-items: center;
  }

}











@media only screen and (min-width: 768px) and (min-width: 1080px) {
  
  .container {
    width: 1080px;
    margin: 0 auto;
  }

  
  section {
    padding: 0.1em;
  }

  .hero .container {
    display: flex;
    justify-content: space-between;
    text-align: left;
  }

  .hero .container .left-col {
    margin: 3em 3em 0 5em;
  }

  .hero .container h1 {
    font-size: 3em;
    width: 90%;
  }
}


@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .projects-container {
    justify-content: center;
  }

  .project-card {
    width: 40%;
    margin-bottom: 2em;
  }

  .project-section .projects-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }

  .project-card {
    flex: 0 0 30%;
    max-width: 30%;
    margin-bottom: 2em;
    box-shadow: 5px 5px 20px black;
  }
}

.icon-projects{
  display: flex;
  align-items: center;
  margin-bottom: 0em;
  flex-wrap: nowrap;
  justify-content: center;
}



@media only screen and (min-width: 1025px) {
  .project-section .projects-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }

  .project-card {
    flex: 0 0 30%;
    max-width: 30%;
    margin-bottom: 2em;
    box-shadow: 5px 5px 20px black;
  }
}


/*# sourceMappingURL=main.css.map */